.body-container {
    padding-bottom: 0;
    padding-top: 0;
}

.section-main {
    position: relative;
}

.section-main h4 {
    font-size: 36px;
    font-weight: 900;
    line-height: 1.44;
    letter-spacing: -1px;
    text-align: center;
    color: #119e9e;
    margin-bottom: 12px;
}

.section-main p {
    font-size: 16px;
    font-weight: normal;
    line-height: 1.87;
    text-align: center;
    color: #222222;
}

.section-main .btn-fixed-download {
    display: none;
}

.section-main ul.main-right-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    /* left: calc(100vw - (100vw - 1070px) / 2); */
    right: 168px;
    z-index: 1;
}

.section-main ul.main-right-nav li {
    position: relative;
    width: 32px;
    height: 32px;
    background: url('/static/images/index/ic-default.png') no-repeat center transparent;
    background-size: cover;
    cursor: pointer;
}

.section-main ul.main-right-nav li.item-main:hover,
.section-main ul.main-right-nav li.item-main.active {
    background-image: url('/static/images/index/ic-home.png');
}

.section-main ul.main-right-nav li.item-now:hover,
.section-main ul.main-right-nav li.item-now.active {
    background-image: url('/static/images/index/ic-now.png');
}

.section-main ul.main-right-nav li.item-review:hover,
.section-main ul.main-right-nav li.item-review.active {
    background-image: url('/static/images/index/ic-review.png');
}

.section-main ul.main-right-nav li.item-shop:hover,
.section-main ul.main-right-nav li.item-shop.active {
    background-image: url('/static/images/index/ic-shop.png');
}

.section-main ul.main-right-nav li.item-rank:hover,
.section-main ul.main-right-nav li.item-rank.active {
    background-image: url('/static/images/index/ic-rank.png');
}

.section-main ul.main-right-nav li.item-hwaple:hover,
.section-main ul.main-right-nav li.item-hwaple.active {
    background-image: url('/static/images/index/ic-hwaple.png');
}

.section-main ul.main-right-nav li.item-info:hover,
.section-main ul.main-right-nav li.item-info.active {
    background-image: url('/static/images/index/ic-info.png');
}

.section-main ul.main-right-nav li span {
    display: block;
    width: 77px;
    height: 20px;
    border-radius: 10px;
    background-color: #1cbaba;
    display: none;

    font-size: 12px;
    font-weight: normal;
    line-height: normal;
    text-align: center;
    color: #ffffff;
    padding: 4px 0 3px;

    position: absolute;
    top: 50%;
    left: -83px;
    transform: translateY(-50%);
}

.section-main ul.main-right-nav li:hover span,
.section-main ul.main-right-nav li.active span {
    display: block;
}

.section-main ul.main-right-nav li a {
    display: block;
    height: 100%;
}

/* 메인 배너 */
.section-main .main-banner {
    position: relative;
}

.section-main .main-banner ul.slick-dots {
    width: 265px;
    position: absolute;
    left: 50%;
    bottom: 82px;
    transform: translateX(-50%);
    counter-reset: counter;
    margin: 0 auto;
    text-align: center;
}

.section-main .main-banner ul.slick-dots:after {
    content: '';
    display: block;
    clear: both;
}

.section-main .main-banner ul.slick-dots li {
    display: inline-block;
    width: calc(100% / 3);
    counter-increment: counter;
    padding-top: 9px;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    position: relative;
    cursor: pointer;
    text-align: left;
}

/* .section-main .main-banner ul.slick-dots li:before {
      font-size: 14px;
    font-weight: bold;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
      color: rgba(255, 255, 255, 0.4);
      background-color: transparent;
      border: none;
      content: counters(counter, ".", decimal-leading-zero);
  }
  .section-main .main-banner ul.slick-dots li.slick-active:before {
      color: #ffffff;
  } */
.section-main .main-banner ul.slick-dots li.slick-active:after {
    content: '';
    width: 100%;
    height: 3px;
    background-color: #ffffff;
    position: absolute;
    left: 0;
    top: -1.5px;
}

.section-main .main-banner ul.slick-dots li button {
    display: none;
}

.section-main .main-banner .banner {
    height: 640px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;

    padding: 246px 0 0;
}

/* No1 화장품 정보 플랫폼, 화해 */
.section-main .main-banner .banner.banner-1 {
    background-image: url('/static/images/index/con-1-main-img-1.png');
}

/* 6년연속1위 화장품 정보 플랫폼 */
.section-main .main-banner .banner.banner-2 {
    padding-top: 212px;
    background-image: url('/static/images/index/con-1-main-img-2.png');
}

/* 화장품 헤매지 말고 화해하자! */
.section-main .main-banner .banner.banner-3 {
    background-image: url('/static/images/index/con-1-main-img-3.png');
}

.section-main .main-banner .banner h2 {
    font-size: 46px;
    font-weight: 900;
    line-height: 1.35;
    letter-spacing: -2px;
    color: #ffffff;
}

.section-main .main-banner .banner p {
    font-size: 20px;
    font-weight: normal;
    line-height: 1.4;
    letter-spacing: -1.11px;
    color: #ffffff;
    margin-top: 16px;
}

.section-main .main-banner .banner.banner-2 p {
    margin-top: 26px;
}

.section-main .main-banner .banner .btn-download {
    width: 240px;
    height: 48px;
    border-radius: 28px;
    background-color: #ffffff;
    font-size: 16px;
    font-weight: bold;
    line-height: normal;
    letter-spacing: -0.6px;
    text-align: center;
    color: #1b8181;
    border: none;
    padding: 0;
    margin-top: 26px;
    transition: 0.3s;
}

.section-main .main-banner .banner .btn-download:hover {
    opacity: 0.6;
}

.section-main .main-banner .banner .btn-download img {
    height: 16px;
    display: inline-block;
    vertical-align: middle;
    margin-left: 17px;
}

/* 화해는 지금? */
.section-main .main-now {
    padding: 90px 0 0;
    background-color: #fafafa;
}

.section-main .main-now h4 {
    color: #222222;
    font-size: 32px;
    line-height: normal;
}

.section-main .main-now .binder {
    width: 17px;
    height: 2px;
    opacity: 0.3;
    border-radius: 1px;
    background-color: #1cbaba;
    margin: 30px auto 40px;
}

.section-main .main-now .main-now__banner {
    position: relative;
    padding-top: 50px;
}

.section-main .main-now .event {
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.75;
    letter-spacing: -1px;
    text-align: center;
    color: #328888;
    margin-bottom: 152px;
}

.section-main .main-now .main-now__banner .banner {
    font-size: 120px;
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -6.7px;
    text-align: center;
    color: #119e9e;
}

.section-main .main-now .main-now__banner ul.slick-dots {
    position: absolute;
    left: calc(50% - 11px);
    transform: translateX(-50%);
    top: 0;
    text-align: center;
}

.section-main .main-now .main-now__banner ul.slick-dots:after {
    content: '';
    display: block;
    clear: both;
}

.section-main .main-now .main-now__banner ul.slick-dots li {
    display: inline-block;
    margin-right: 30px;
    cursor: pointer;
}

.section-main .main-now .main-now__banner ul.slick-dots li:last-child {
    margin-right: 0;
}

.section-main .main-now .main-now__banner ul.slick-dots li:before {
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -0.8px;
    text-align: center;
    color: #222222;
    opacity: 0.3;
}

.section-main .main-now .main-now__banner ul.slick-dots li.slick-active:before {
    opacity: 1;
    text-decoration: underline;
}

.section-main .main-now .main-now__banner ul.slick-dots li:nth-child(1):before {
    content: '사용자리뷰';
}

.section-main .main-now .main-now__banner ul.slick-dots li:nth-child(2):before {
    content: '제품';
}

.section-main .main-now .main-now__banner ul.slick-dots li:nth-child(3):before {
    content: '브랜드';
}

.section-main .main-now .main-now__banner ul.slick-dots li button {
    display: none;
}

.section-main .main-now .main-now__banner--wrapper {
    position: relative;
    margin-bottom: 53px;
}

.section-main .main-now .main-now__banner__deco {
    width: 848px;
    height: 108px;
    background: url('/static/images/index/con-2-object-2.png') no-repeat center transparent;
    background-size: cover;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 10px;
}

.section-main .main-now .main-now__asset {
    height: 240px;
    background: url('/static/images/index/con-2-img.png') no-repeat center transparent;
    background-size: cover;
    background-position-y: 0;
}

/* 써 본 사람들의 진짜 리뷰 */
.section-main .main-review {
    background-color: #f5f5f5;
}

.section-main .main-review .review-box {
    max-width: 990px;
    height: 641px;
    background: url('/static/images/index/con-3-object-3-paper.png') no-repeat center transparent;
    background-size: cover;
    margin: 0 auto;
    position: relative;

    padding: 262px 0 0;
}

.section-main .main-review .review-box h4 {
    line-height: normal;
}

.section-main .main-review .review-box p {
    line-height: 1.67;
}

.section-main .main-review .review-box img {
    position: absolute;
}

.section-main .main-review .review-box img.review_pencil {
    height: 334px;
    top: -120px;
    right: 47px;
}

.section-main .main-review .review-box img.review_phone {
    height: 504px;
    left: -100px;
    top: 310px;
}

/* 리뷰와 평점으로 엄선한 큐레이션 쇼핑 */
.section-main .main-shopping {
    padding: 178px 0 296px;
    background-color: rgba(94, 223, 223, 0.2);
    background-image: url('/static/images/index/con-4-object-1.png');
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: auto 100%;
}

/* 가장 믿을 만한 화장품 랭킹 */
.section-main .main-ranking {
    padding: 217px 0 229px;
    background-image: url('/static/images/index/con-5-object-1.png');
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: auto 100%;
}

.section-main .main-ranking .container>* {
    text-align: left;
    max-width: 998px;
    padding-left: 89px;
}

.section-main .main-ranking h4 {
    margin-bottom: 11px;
}

.section-main .main-ranking p {
    font-size: 15px;
}

/* 전문 에디터가 만드는 뷰티 콘텐츠 */
.section-main .main-hwaple {
    height: 640px;
    background: url('/static/images/index/con-6-bg.png') no-repeat center transparent;
    background-size: cover;
    position: relative;
}

.section-main .main-hwaple:after {
    content: '';
    width: 439px;
    height: 309px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background: url('/static/images/index/con-6-object-1.png') no-repeat center transparent;
    background-size: cover;
    z-index: 0;
}

.section-main .main-hwaple .contents_text {
    position: absolute;
    top: 208px;
    left: 50%;
    padding-left: 17px;
    z-index: 1;
}

.section-main .main-hwaple .contents_text>* {
    text-align: left;
}

/* 제품별로 쉽게 보는 화장품 전 성분 정보 */
.section-main .main-info {
    padding: 81px 0 96px;
    background-color: #d1edef;
}

.section-main .main-info .info_text {
    max-width: 473px;
    height: 463px;
    margin: 0 auto;
    background: url('/static/images/index/con-7-object-1-graph.png') no-repeat center transparent;
    background-size: cover;
    padding-top: 139px;
    position: relative;
}

.section-main .main-info .info_text img {
    position: absolute;
}

.section-main .main-info .info_text img.deco_icon_1 {
    left: -322px;
    top: -24px;
    height: 48px;
}

.section-main .main-info .info_text img.deco_icon_2 {
    top: 40px;
    left: 0;
}

.section-main .main-info .info_text img.deco_icon_3 {
    top: 10px;
    right: -285px;
    height: 66px;
}

.section-main .main-info .info_text img.deco_icon_4 {
    bottom: -80px;
    left: -138px;
}

.section-main .main-info .info_text img.deco_icon_5 {
    right: -150px;
    bottom: 42px;
}

.section-main .main-info .info_text img.deco_icon_2,
.section-main .main-info .info_text img.deco_icon_4,
.section-main .main-info .info_text img.deco_icon_5 {
    height: 90px;
}

/*  No.1 화장품 정보 플랫폼, 화해 지금 다운로드 받으세요 :) */
.section-main .main-download {
    padding: 62px 0 63px;
    background-color: #5edfdf;
    text-align: center;
}

.section-main .main-download .container>* {
    color: #ffffff;
    line-height: normal;
}

.section-main .main-download h4 {
    font-size: 28px;
    font-weight: bold;
    letter-spacing: -1px;
    color: #ffffff;
    margin-bottom: 12px;
}

.section-main .main-download .btns {
    margin-top: 24px;
}

.section-main .main-download .btns button {
    width: 159px;
    height: 48px;
    text-indent: -9999px;
    border: none;
    background-position: center;
    background-size: cover;
    background-color: transparent;
    transition: 0.3s;
}

.section-main .main-download .btns button.btn-android {
    background-image: url('/static/images/index/btn-and-white.png');
    margin-right: 22px;
}

x .section-main .main-download .btns button.btn-android:hover {
    background-image: url('/static/images/index/btn-and.png');
}

.section-main .main-download .btns button.btn-ios {
    background-image: url('/static/images/index/btn-ios-white.png');
}

.section-main .main-download .btns button.btn-ios:hover {
    background-image: url('/static/images/index/btn-ios.png');
}

@media (max-width: 1300px) {
    .section-main ul.main-right-nav {
        right: 20px;
    }
}

@media (max-width: 991px) {
    .section-main .main-banner ul.slick-dots {
        width: 90%;
    }
}

@media (max-width: 767px) {
    .section-main h4 {
        font-size: 28px;
        line-height: normal;
        letter-spacing: -1.6px;
    }

    .section-main p {
        font-size: 14px;
        line-height: 1.86;
    }

    .section-main .btn-fixed-download {
        position: fixed;
        bottom: 0;
        width: 100%;
        height: 64px;
        background-color: #4bb2b2;
        border: none;
        border-radius: 0;
        display: block;
        font-size: 18px;
        font-weight: bold;
        line-height: 2.33;
        letter-spacing: -0.6px;
        text-align: center;
        color: #ffffff;
        z-index: 1;
    }

    .section-main ul.main-right-nav {
        display: none;
    }

    .section-main .main-banner .banner {
        height: 520px;
        /* height: 144.444vw; */
        position: relative;
        padding: 0;
    }

    .section-main .main-banner .banner.banner-1 {
        background-image: url('/static/images/index/m-con-1-main-img-1.png');
    }

    .section-main .main-banner .banner.banner-2 {
        background-image: url('/static/images/index/m-con-1-main-img-2.png');
    }

    .section-main .main-banner .banner.banner-3 {
        background-image: url('/static/images/index/m-con-1-main-img-3.png');
    }

    .section-main .main-banner .banner h2 {
        font-size: 36px;
        min-width: 280px;
        width: 77.777vw;
        margin: 0 auto;
        word-break: keep-all;
    }

    .section-main .main-banner .banner__content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .section-main .main-banner ul.slick-dots {
        min-width: 260px;
        width: 72.222vw;
        bottom: 30px;
    }

    .section-main .main-banner ul.slick-dots li {
        border-top-color: rgba(0, 0, 0, 0.1);
    }

    .section-main .main-banner ul.slick-dots li:before {
        font-size: 12px;
    }

    .section-main .main-banner ul.slick-dots li.slick-active:after {
        top: -2px;
    }

    .section-main .main-now {
        padding-top: 83px;
    }

    .section-main .main-now h4 {
        font-size: 28px;
        letter-spacing: -1.55px;
        margin-bottom: 0;
    }

    .section-main .main-now .binder {
        margin: 24px auto 25px;
    }

    .section-main .main-now .event {
        font-size: 14px;
        line-height: 1.86;
        margin-bottom: 82px;
    }

    .section-main .main-now .main-now__banner--wrapper {
        margin-bottom: 28px;
    }

    .section-main .main-now .main-now__banner .banner {
        font-size: 60px;
        letter-spacing: -6px;
        background-image: url('/static/images/index/con-2-object-2.png');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center bottom 10px;
        height: 66px;
    }

    .section-main .main-now .main-now__banner ul.slick-dots {
        width: 100%;
    }

    .section-main .main-now .main-now__banner__deco {
        display: none;
    }

    .section-main .main-now .main-now__asset {
        height: 180px;
        background-image: url('/static/images/index/m-con-2-img.png');
    }

    .section-main .main-review .review-box {
        /* height: 152.77vw; */
        height: 550px;
        background-image: url('/static/images/index/m-con-3-object-3-paper.png');
        /* padding-top: 63.611vw; */
        padding-top: 229px;
    }

    .section-main .main-review .review-box img.review_pencil,
    .section-main .main-review .review-box img.review_phone {
        display: none;
    }

    .section-main .main-shopping {
        background-image: url('/static/images/index/m-con-4-object-1.png');
        background-size: cover;
        /* padding-top: 50vw;
          padding-bottom: 58.333vw; */
        height: 550px;
        padding-top: 180px;
    }

    .section-main .main-shopping p {
        max-width: 210px;
        margin: 0 auto;
    }

    .section-main .main-ranking {
        /* height: 152.77vw;
          padding-top: 25vw; */
        height: 550px;
        padding-top: 90px;
        background-image: url('/static/images/index/m-con-5-object-1.png');
    }

    .section-main .main-ranking .container>* {
        padding-left: 0;
        text-align: center;
    }

    /* 전문 에디터가 만드는 뷰티 콘텐츠 */
    .section-main .main-hwaple {
        /* height: 152.77vw; */
        height: 550px;
        background-image: url('/static/images/index/m-con-6-bg.png');
        background-color: #f5f5f5;
    }

    .section-main .main-hwaple:after {
        /* width: 100%;
          height: 85.833vw; */
        width: 360px;
        height: 309px;
        background-image: url('/static/images/index/m-con-6-object-1.png');
    }

    .section-main .main-hwaple .contents_text {
        /* top: 46.388vw; */
        top: 167px;
        padding: 0;
        transform: translateX(-50%);
    }

    .section-main .main-hwaple .contents_text>* {
        text-align: center;
    }

    .section-main .main-hwaple .contents_text h4 {
        width: 77.777vw;
        min-width: 280px;
    }

    .section-main .main-hwaple .contents_text p {
        width: 230px;
        margin: 0 auto;
    }

    /* 제품별로 쉽게 보는 화장품 전 성분 정보 */
    .section-main .main-info {
        /* padding: 35.555vw 0; */
        height: 550px;
        padding: 128px 0 0;
    }

    .section-main .main-info .info_text {
        /* width: 83.333vw;
          height: 81.666vw;
          padding-top: 18.611vw; */
        width: 300px;
        height: 294px;
        padding-top: 67px;
    }

    .section-main .main-info .info_text p {
        max-width: 300px;
        margin: 0 auto;
    }

    .section-main .main-info .info_text img.deco_icon_2,
    .section-main .main-info .info_text img.deco_icon_4,
    .section-main .main-info .info_text img.deco_icon_5 {
        height: 74px;
    }

    .section-main .main-info .info_text img.deco_icon_2 {
        top: -63px;
        left: -11px;
    }

    .section-main .main-info .info_text img.deco_icon_4 {
        bottom: -100px;
        left: -11px;
    }

    .section-main .main-info .info_text img.deco_icon_5 {
        right: -60px;
        bottom: -20px;
    }

    /*  No.1 화장품 정보 플랫폼, 화해 지금 다운로드 받으세요 :) */
    .section-main .main-download {
        padding: 40px 0;
    }

    .section-main .main-download .container {
        padding: 0;
        width: 100%;
    }

    .section-main .main-download .container h4 {
        font-size: 24px;
        line-height: 1.33;
        margin-bottom: 8px;
    }

    .section-main .main-download .container p {
        font-size: 16px;
        line-height: 1.5;
    }

    .section-main .main-download .btns {
        margin-top: 30px;
    }

    .section-main .main-download .btns button {
        max-width: 159px;
        max-height: 48px;

        width: 44.166vw;
        height: 13.33vw;
        background-size: contain;
    }

    .section-main .main-download .btns button.btn-android {
        margin-right: 12px;
        margin-right: 3.33vw;
    }
}